
body{
    width: 100vw;
    height: 100vh;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color:#000;
    position: relative;
}

header,footer{
    background-color: rosybrown;
}

.prettier{
    font-family: cursive;
    font-weight: bold;
}

/******************* Header ******************/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

header img{
    width: 60px;
    height: 60px;
    vertical-align: middle;
    margin-left: 1%;
}

header a{
    text-decoration: none;
    color:#000;
}

header .login{
    margin-right: 2%;
    vertical-align: middle;
}

.content{
    padding-top: 60px;
}

/******************* Footer ******************/

footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0%;
    position: sticky;
    bottom: 0;
}

footer img{
    width: 20px;
    height: 20px;
}

.contact-us{
    margin-left: 2%;
}
.contact-us a{
    text-decoration: none;
    color:#000;
    /* font-weight: 600; */
}

.social-media-icons{
    display: inline-block;
    margin-right: 2%;
}

.social-media-icons a{
    text-decoration: none;
}

.copyright{
    font-size: 10px;
    color:#000;
    text-align: center;
    
    /* position: fixed; */
    /* bottom: 3px;
    left: 0;
    right: 0; */
}