
body, .main{
    width: 100vw;
    height: 100vh;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
}

header,footer{
    background-color: rosybrown;
}

/******************* Header ******************/

header img{
    width: 60px;
    height: 60px;
}

/******************* Footer ******************/

footer img{
    width: 22px;
    height: 20px;
}