
body{
    width: 100vw;
    height: 100vh;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color:#000;
    position: relative;
}

header,footer{
    background-color: rosybrown;
}

/******************* Header ******************/

header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

header img{
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

header a{
    text-decoration: none;
    color:#000;
}

header .login{
    padding: 20px;
    vertical-align: middle;
}

.content{
    padding-top: 60px;
}

/******************* Footer ******************/

footer{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 10px 15px;
    position: sticky;
    bottom: 0;
}

footer img{
    width: 20px;
    height: 20px;
}

.contact-us a{
    text-decoration: none;
    color:#000;
}

.social-media-icons{
    display: inline-block;
}

.social-media-icons a{
    text-decoration: none;
}

.copyright{
    font-size: 10px;
    color:#000;
    text-align: center;
    position: fixed;
    bottom: 3px;
    left: 0;
    right: 0;
}