/******************** Content ******************/

.content img{
    width: 150px;
    height: 150px;
}

.search-bar{
    background: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg') center no-repeat;
    height: 380px;
    background-size: cover;
}

.city-images{
    margin: auto 15%;
}

.city-images img{
    padding: 4%;
    border-radius: 25%;
}